

[Unit]
Description=Bootstrap Djinn CI Arch images

[Service]
Type=oneshot
User=djinn
WorkingDirectory=/var/lib/djinn/bootstrap
Environment=DJINN_IMAGE_DIR=/var/lib/djinn/images/_base
ExecStart=/var/lib/djinn/bootstrap/qemu.sh /etc/djinn/bootstrap.conf arch
