

[Unit]
Description=Weekly bootstrap of Djinn CI Arch images

[Timer]
OnCalendar=Sun *-*-* 00:00:00
AccuracySec=10m
Persistent=true

[Install]
WantedBy=timers.target
